<div th:fragment="pad" id="value-pad-template" hidden>
    <div class="container pad-container text-center">
        <div class="row">
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="1">1</button>
            </div>
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="2">2</button>
            </div>
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="3">3</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="4">4</button>
            </div>
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="5">5</button>
            </div>
            <div class="col-4 ">
                <button class="btn btn-light w-100 py-2" th:text="6">6</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4 p-1">
                <button class="btn btn-light w-100 py-2" th:text="7">7</button>
            </div>
            <div class="col-4 p-1">
                <button class="btn btn-light w-100 py-2" th:text="8">8</button>
            </div>
            <div class="col-4 p-1">
                <button class="btn btn-light w-100 py-2" th:text="9">9</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 p-1">
                <button class="btn btn-danger w-100 py-2">✖</button>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>

