<div th:fragment="footer">
    <footer class="footer text-center text-muted">
        <span class="footer-text">© 2025 Kakuro</span>
        <div class="footer-icon">
            <a class="github-icon" href="" target="_blank">
                <img src="/images/icons/github.png" alt="Github">
            </a>
        </div>
        <div class="footer-icon">
            <a class="gitlab-icon"
               href="https://git.kpi.fei.tuke.sk/kp-labs/assignments-2025-virtual/kp3/gamestudio-9738" target="_blank">
                <img src="/images/icons/gitlab.png" alt="Gitlab">
            </a>
        </div>
    </footer>
</div>
