.login-form, .register-form {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    width: 100%;
    max-width: 400px;
    z-index: 100;
}

.login-form .register-btn, .register-form .register-btn {
    padding: 5px;
}

.form-control {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #f1f1f1;
}

.form-control:focus {
    background-color: #2c2c2c;
    color: #ece5f0;
    border-color: #666;
    box-shadow: none;
}

.btn-dark-custom {
    background-color: #333;
    border: none;
    color: #ECE5F0;
}

.btn-dark-custom:hover {
    background-color: #555;
}

.avatar-preview-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.avatar-preview-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.avatar-carousel button {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: none;
    transition: transform 0.2s ease-in-out;
}

.avatar-carousel .back-icon {
    transform: none !important;
    opacity: 1 !important;
}

.avatar-carousel button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.avatar-carousel button:active {
    transform: scale(0.95);
}

#avatarRight * {
    transform: rotateY(180deg) !important;
}